#spinSpiral1 {
    animation: spin1 3s linear infinite;
}

@keyframes spin1 {
    50% {transform: rotate(360deg);}
}

#spinSpiral2 {
    animation: spin2 3s linear infinite;
}

@keyframes spin2 {
    50% {transform: rotate(360deg);}
}

#spinSpiral3 {
    animation: spin3 3s linear infinite;
}

@keyframes spin3 {
    50% {transform: rotate(360deg);}
}

#spinSpiral4 {
    animation: spin4 3s linear infinite;
}

@keyframes spin4 {
    50% {transform: rotate(360deg);}
}

/*
#spinSpiralBig {
    animation: spinBig 5s infinite;
}

@keyframes spinBig {
    50% {transform: rotate(360deg);}
}
*/

.bigSpiral {
    animation: spinBig 30s linear infinite;
}

@keyframes spinBig {
    50% {transform: rotate(360deg);}
}

.container {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto auto;
}

.container > div {
    min-height: 60px; 
}

/*remember to rename everything to meet the naming standards of my project*/

.top-left {
    grid-column: 1;
    grid-row: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-mid {
    grid-column: 2;
    grid-row: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.top-right {
    grid-column: 3;
    grid-row: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mid-left {
    grid-column: 1;
    grid-row: 2 / span 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mid-mid {
    grid-column: 2;
    grid-row: 2 / span 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.mid-mid button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    background-color: black;
    color: white;
    border: none;
    box-shadow: none;
    outline: none;
    border-radius: 0;
    appearance: none;
}

.mid-mid button:hover {
    background-color: darkgray;
    color: white;
}

.mid-right {
    grid-column: 3;
    grid-row: 2 / span 2;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bottom-left {
    grid-column: 1;
    grid-row: 3;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bottom-mid {
    grid-column: 2;
    grid-row: 3;
    background-color: invisible;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.bottom-right {
    grid-column: 3;
    grid-row: 3;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}